@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
:root{
    --body-bg:hsl(0, 0%, 100%);
    --testimonial-comment-clr:hsl(300, 24%, 96%);
    --rating-bg:hsl(303, 10%, 53%);
    --testimonial-bg:hsl(300, 43%, 22%);
    --testimonial-desc-clr:hsl(333, 80%, 67%);
    --font-bold: 700;
    --font-med: 500;
    --font-def: 400;
}
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: grid;
    place-content: center;
    font-family: 'League Spartan', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

main{
    display: grid;
    gap: 3rem;
    margin: 3rem 4rem;
    grid-template-rows: 1fr 1.1fr;
}

.desc-section{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.5fr 2fr;
    gap: 8rem;
}

.ratings-container {
    display: grid;
    gap: 1rem;

}
.desc{
    color: var(--rating-bg);
}

h1{
    color: var(--testimonial-bg);
    font-weight: var(--font-bold);
    font-size: 2.8rem;
    line-height: 1;
    margin-block-end: 1rem;
}

.ratings{
    background-color: var(--testimonial-comment-clr);
    padding-block: 1rem;
    border-radius: 0.5rem;
    width: 80%;
    padding-inline: 1.5rem;
    color: var(--testimonial-bg);
    font-weight: var(--font-bold);
}

.ratings:nth-child(1){
    place-self: start;
}
.ratings:nth-child(2){
    place-self: center;
}
.ratings:nth-child(3){
    place-self: end;
}

.ratings > *, .ratings img{
    display: inline-block;
}

.ratings picture{
    margin-inline-end: 1.5rem;
}

.testimonials-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    font-weight: var(--font-med);
}

.testimonials{
    background-color: var(--testimonial-bg);
    color: var(--body-bg);
    padding: 1.5rem;
    border-radius: .5rem;
}
.commenter{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.commenter img{
    border-radius: 50%;
    width: 90%;
}

.commenter-name{
    font-weight: var(--font-bold);
}

.commenter-type{
    color: var(--testimonial-desc-clr);
    font-weight: var(--font-def);
}

.comment{
    margin-block-start: 1rem;
    font-weight: var(--font-med);
    font-size: .9rem;
}

.comment:before{
    content: open-quote;
    font-size: 1rem;
    padding-inline: 0.2rem;
}

.comment:after {
    content: close-quote;
    font-size: 1rem;
    padding-inline: 0.2rem;
}

.testimonials:nth-child(1){
    place-self: start;
}
.testimonials:nth-child(2) {
    place-self: center;
}
.testimonials:nth-child(3) {
    place-self: end;
}

@media (max-width:750px){
    main, .testimonials-container, .ratings-container{
        display: flex;
        flex-direction: column;
    }
    .desc-section{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .ratings{
        width: 100%;
        text-align: center;
    }
    .ratings picture{
        display: block;
    }


}